<html lang="">
<head>
    <title>Medical Database Portal</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to bottom, #eff5fb, #d8f7d7);
            color: #333;
        }

        .header {
            background-color: #62b857;
            color: #fff;
            text-align: center;
            padding: 30px 0;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }

        .card h2 {
            margin-top: 0;
            color: #007bff;
            font-size: 24px;
        }

        .table-container {
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
            margin-top: 10px;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Medical portal for Patients</h1>
        <h2>Find Your Doctor</h2>
    </div>
<br>
<center>
    
<select name="specialist" id="specialist">
    <option value="default" disabled selected hidden> select speciality </option>
    <% allSpeciality.forEach(speciality => { %>
    <option value="<%- speciality.SPECIALIST %>"><%- speciality.SPECIALIST %></option>
    <% }); %>
</select>

<select name="location" id="location">
    <option value="default" disabled selected hidden> select your location </option>
    <% allSubDistrict.forEach(subDistrict => { %>
    <option value="<%- subDistrict.SUB_DISTRICT %>"><%- subDistrict.SUB_DISTRICT %></option>
    <% }); %>
</select>

<button id="searchButton">Search</button>
</center>

<div id="table-container">
    <div class="card">
    <h2>Available doctors</h2>
    <table id="data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hospital</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
    </div>
</div>

<script>
    const button = document.getElementById("searchButton")

    const specialistSelect = document.getElementById('specialist')
    const locationSelect = document.getElementById("location")

    let specialist
    let subDistrict

    specialistSelect.addEventListener('change', ()=> {
        specialist = specialistSelect.options[specialistSelect.selectedIndex].text
    })
    locationSelect.addEventListener('change', ()=> {
        subDistrict = locationSelect.options[locationSelect.selectedIndex].text
    })

    button.addEventListener("click", async ()=>{
        console.log("button clicked")

        const response = await fetch(`/find-doctor/${specialist}&${subDistrict}`)

        console.log(specialist + " " + subDistrict)

        const foundDoctors = await response.json()

        console.log(foundDoctors)
        
        const tableBody = document.getElementById('table-body');

        // const refreshButton = document.getElementById('searchButton');

        // refreshButton.addEventListener('click', refreshTable);
        
        foundDoctors.forEach(item => {
            const row = tableBody.insertRow();
            Object.values(item).forEach(value => {
                const cell = row.insertCell();
                cell.textContent = value;
            });
        });
    })

    // function refreshTable() {
    //         // Clear existing table rows
    //         tableBody.innerHTML = '';

    //         // Populate table with new data
    //         jsonData.forEach(item => {
    //             const row = tableBody.insertRow();
    //             Object.values(item).forEach(value => {
    //                 const cell = row.insertCell();
    //                 cell.textContent = value;
    //             });
    //         });
    //     }

    // refreshTable();
</script>

<table id="doctorList"></table>
</body>
</html>