@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Proza+Libre|Roboto|Work+Sans&display=swap");
body {
    background: rgb(204, 204, 204);
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}
main {
    width: 20.9cm;
    height: 29.6cm;
    border: 0.05cm #ccc solid;
    display: block;
}
td {
    border: 0.03cm solid rgba(0, 0, 0, 0.1);
}
td.header,
td.patient {
    width: 20.84cm;
}
td.header {
    height: 4.404cm;
}
.chamber-details {
    width: 100%;
    height: 100%;
    display: flex;
}
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 4cm;
    height: 4cm;
}
.credentials {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.name_degree h1 {
    margin: 0;
    padding: 0;
    font-size: 0.55cm;
    font-family: "Roboto", sans-serif;
    display: inline;
}
.name_degree span {
    font-weight: bold;
    font-size: 0.35cm;
}
.credentials p {
    margin: 0;
    padding: 0;
    font-size: 0.35cm;
    display: inline;
}
.chamber p {
    margin: 0;
    padding: 0;
    font-size: 0.5cm;
    font-family: "Roboto", sans-serif;
    display: inline;
}
.license {
    display: flex;
    justify-content: space-evenly;
}
.address {
    margin: 0.15cm 0;
}
.contacts {
    display: flex;
    justify-content: space-evenly;
}
td.patient {
    height: 2.0552cm;
}
.patient {
    padding: 0 0.2cm;
    font-family: "Work Sans", sans-serif;
}
.patient p {
    margin: 0;
}
.sl {
    font-style: italic;
    font-size: 0.35cm;
}
.patient-details {
    padding: 0.3cm 0 0.1cm 0.4cm;
}
td.d-info,
td.medicine {
    height: 20.552cm;
}
td.d-info {
    width: 6.25cm;
}
div.symp,
div.test,
.adv {
    width: 6.1cm;
    height: 6.55cm;
    padding: 0.15cm;
}
td.re-visit,
td.signature {
    height: 1.95cm;
}
ul {
    list-style: none;
    padding: 0;
    padding-left: 0.3cm;
}
ul > li {
    padding-bottom: 0.05cm;
}
.d-info {
    font-family: "Roboto", sans-serif;
}
.d-info h1 {
    font-family: "Proza Libre", sans-serif;
    font-size: 0.4cm;
    margin: 0;
    padding: 0.05cm;
    border: 0.01cm solid black;
    text-align: center;
}
.med-list {
    height: 20.55cm;
}
.item {
    height: 1.7cm;
    padding: 0.15cm;
}
.name_type {
    display: flex;
    justify-content: space-between;
}
.item h2 {
    margin: 0;
    padding: 0;
    line-height: 0.4cm;
    font-family: "Work Sans", sans-serif;
    font-size: 0.4cm;
    border-left: 0.08cm #333 solid;
    padding-left: 0.1cm;
    display: inline;
}
.item p {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 0.35cm;
    display: inline;
}
.weight_generic {
    display: flex;
    flex-direction: column;
}
.weight_generic span {
    font-size: 0.3cm;
    padding-left: 0.18cm;
}
.weight_generic p {
    font-family: "Work Sans", sans-serif;
    padding-left: 0.18cm;
}
.how_when {
    margin-top: 0.1cm;
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
}
.how_when span {
    font-size: 0.35cm;
    font-weight: bold;
}
.devider {
    height: 1px;
    background: #ddd;
    width: 100%;
}
